.nav>li {
	font-size: 1.2em;
	text-align: center;
}

header {
	text-align: center;
	background-color: #e0e0e0;
}

body {
      position: relative;
      background: linear-gradient(#000000, #ffffff);
  }
  
#results {
      background: #ffffff;
}

 #foot {background: linear-gradient(#d5d4e6, #ffffff);}