@CHARSET "UTF-8";

body {
	background-image: url("../images/test2.jpg");
}

.nicelooking {
	font-weight: bold;
	color: blue !important;
	text-align: center;
}

.tableheading {
	font-weight: bold;
	font-style: italic;
}
.footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	/* Set the fixed height of the footer here */
	height: 20px;
	background-color: #f5f5f5;
}