@CHARSET "UTF-8";


#center {
	position: absolute;
	top: 30%;
}

body {
	background-image: url("../images/test2.jpg");
}

.footer {
	position: absolute !important;
	bottom: 0 !important;
	width: 100% !important;
	height: 20px !important;
	background-color: #f5f5f5 !important;
}